*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loading{
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 42, 42);
    -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
    z-index: 999999;
}

#loading .loader{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(44, 42, 42);
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

#loading .loader::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(233, 10, 54, 0.548)); 
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#loading .loader::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: crimson;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px  rgb(204, 25, 61),
                0 0 20px  rgb(204, 25, 61),
                0 0 30px  rgb(204, 25, 61),
                0 0 40px  rgb(204, 25, 61),
                0 0 50px  rgb(204, 25, 61),
                0 0 60px  rgb(204, 25, 61),
                0 0 70px  rgb(204, 25, 61),
                0 0 80px  rgb(204, 25, 61),
                0 0 90px  rgb(204, 25, 61),
                0 0 100px  rgb(204, 25, 61);
}

#loading .loader span{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: rgb(44, 42, 42);
    border-radius: 50%;
}