/*
https://youtu.be/ZFQkb26UD1Y?t=1353
https://github.com/WebCifar/one-page-website-html-css-project-for-practice
https://unsplash.com/s/photos/person-on-laptop
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} /* remove unexpected gap */


html,body{
    overflow-x: hidden; 
}


html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;/*https://fonts.google.com/*/
    scroll-behavior: smooth;
}/* to set the font family for while pagr*/

a{
    text-decoration: none; /*romove underline from a tag*/
}


.container{
    min-height: 100vh; /*The min-height property defines the minimum height of an element. min-height 100vh creates vertical scrollbar even though content is smaller than viewport*/
    width: 100%;
    display: flex; /*https://www.w3schools.com/css/css3_flexbox.asp---https://www.w3schools.com/css/css3_flexbox_container.asp*/
    align-items: center; /*The align-items property specifies the default alignment for items inside the flexible container.Tip: Use the align-self property of each item to override the align-items property.*/
    justify-content: center; /*Align the flex items at the center of the container*/
 }/*we will use this container style for many sections */


img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    color: #000000;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: #000000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: #dc143c;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    color: #f5f5f5;
    background-color: transparent;
    border: 2px solid #dc143c;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;/*transition: .3s ease background-color;*/
    transition-property: background-color, color;
}

.cta:hover{
    color: #f5f5f5;
    background-color: #dc143c;
}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: #f5f5f5;
}

.brand h1 span{
    color: #dc143c;
}

#particles-js{
    top: 0;
    left: 0;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0.7;
    z-index:1;
}  


/* Header section */
#header{
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .5s ease background-color;
}
#header .nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul{
	list-style: none;
	position: absolute;
	background-color: #1f1e1e;
	width: 50vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .7s ease left;
}
#header .nav-list ul.active{
	left: 50%;
}
#header .nav-list ul a{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after{
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .5s ease letter-spacing;
}


#header .nav-list ul li:hover a::after{
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a{
	color: #dc143c;
}
#header .hamburger{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #ffffff;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #ffffff;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #ffffff;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #ffffff;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after{
	top: 8px;
}
#header .hamburger .bar::before{
	bottom: 8px;
}
#header .hamburger.active .bar::before{
	bottom: 0;
}
#header .hamburger.active .bar::after{
	top: 0;
}
/* End Header section */




/* Hero Section */
#hero{
    background-image: url("https://drive.google.com/uc?id=1IkKeUQoLcZm7zkHfQFk0MWudMWHsYpXf");
    background-size: cover;
    background-position: top;
    position: relative;/*to do overlay we use  this relative position*/
    z-index: 1;
} /*set the big backgroud image*/

 #hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: .7;
    z-index: -1; 
}/*create an overlay with black background in my image this is anu after pseudo elementj*/


#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    z-index: 2;
}
#hero h1:nth-child(1){
    animation-delay: 2s;
}
#hero h1:nth-child(2){
    animation-delay: 3s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 4s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #dc143c;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#hero h1:nth-child(1) span{
    animation-delay: 1.5s;
}

#hero h1:nth-child(2) span{
    animation-delay: 2.5s;
}

#hero h1:nth-child(3) span{
    animation-delay: 3.5s;
} 

.animate-area h2{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    z-index: 2;
}

.animate-area h2 span{
    color: #dc143c;
}

/* End of Hero Section */


/* Service Section */
#services{
    background-color:#e1eeee;
}

#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top{
    max-width: 700px;
    margin: 0 auto;
}

#services .service-top p{
    font-weight: 500;
}

#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    margin: 25px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease transform;
}

#services .service-item:hover{
    transform: scale(1.1);
}


#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(245deg, #334b4b 0%, #000000 100%);
    opacity: .9;
    z-index: -1;
}

#services .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2{
    font-size: 2rem;
    color: #f5f5f5;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p{
    color: #fff8dc;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.9rem;
}
/* End of Service Section */


/* Project Section */

#projects{
    background-color:lavender;
}

#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;

}

#projects .projects-header{
    margin-bottom: 50px;
} 

#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    background-image:linear-gradient(60deg,#2f3f3f 0%, #585864 100%);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #dcdfec;
}

#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}


#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 10px;
}

#projects .project-info p{
    color: #fdf5e6;
}

#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(60deg,#2f3f3f 0%, #24243b 100%);
    opacity: .7;
}
#projects .project-img img{
    transition: .5s ease transform;
}

#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}

/* End of Project Section */

/* About Section */

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left{
    width: 250px;
    height: 360px;
}

#about .col-right{
    width: 100%;
}

#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right h2 span{
   color: #dc143c;
}


#about .col-right p{
    margin-bottom: 20px;
}

#about .col-right .cta{
    color: #000000;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-weight: 555;
    font-size: 2rem;
}

#about .col-right .cta:hover{
    color: #f5f5f5;
}

#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ffffff; 
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -28px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #dc143c;
    z-index: -1;
}

#about .about-img img{
    transition: .7s ease transform;
    border: 7px solid #6969697c;
}

#about .about-img:hover img{
    transform: scale(1.2);
}
#about .col-left .about-img::after{
    transition: .7s ease transform;
}
#about .col-left:hover .about-img::after{
    border: 7px solid #ffffff;
    transition: border .5s ease;
}

/* End of About Section */






/* skills section styling */

#skills{
    background-color:rgb(255, 251, 236);
}

.skills .skills-content{
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 10px;
}


.skills .skills-content .column{
    max-width: 700px;
    margin: 0 auto;

}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

skills .skills-content .left h2{
    text-align: justify;
    max-width: 1200px;
    padding: 10px 10px;
}

.skills .skills-content .left p{
    text-align: justify;
    max-width: 1200px;
    margin: auto;
    padding: 10px 10px;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .Cpp::before{
    width: 85%;
}

.skills-content .right .java::before{
    width: 80%;
}

.skills-content .right .python::before{
    width: 75%;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}

/*End of Skill section*/



/* contact Section */
#contact .contact{
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;

}
#contact .contact-items{
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
#contact .contact-item{
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .5s ease box-shadow;
}
#contact .contact-item:hover{
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon{
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1{
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2{
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */




/* contact section styling */
/* #contact .contact-content .column{
    align-items: center;
    justify-content: center;
} */
#contact h2{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

#contact label{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    max-width: 1200px;
    padding: 10px 10px;
}


.contact-content{
    margin-bottom: 0 auto;
}

.contact-content .column{
    margin: 0 auto;
    max-width: 700px;
    padding: 10px;
}

.right form .fields{
    display: flex;
}

.right form .field,
.right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.right form .textarea{
    height: 80px;
    width: 100%;
}
.right form .name{
    margin-right: 10px;
}
.right form .field input,
.right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.right form .field input:focus,
.right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.right form .button-area{
  display: flex;
  align-items: center;
}

.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  margin: 25px auto 100px;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}




/* Footer */
#footer{
	background-image: linear-gradient(60deg, #191c1f 0%, #485563 100%);
}
#footer .footer{
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2{
	color: #ffffff;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon{
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item{
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img{
	filter: grayscale(1);
	transition: .5s ease filter;
}
#footer .social-item:hover img{
	filter: grayscale(0);
}
#footer p{
	color: #ffffff;
	font-size: 1.3rem;
}
/* End Footer */



/* Keyframes */

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}

@keyframes text_reveal_box{
    50%
    {
        width: 100%;
        left: 0;
    }
    100%
    {
        width: 0;
        left: 100%;        
    }
}

@keyframes text_reveal{
    100%
    {
        color: #f5f5f5;
    }
}


@keyframes text_reveal_name{
    100%
    {
        color: #dc143c;
        font-weight: bolder;
    }
}


/* for vanishing scrollbar */
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


/* Media Query for Tablet */

@media only screen and (min-width: 768px){
    
	.cta{
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title{
		font-size: 5rem;
	}

	/* Hero */
	#hero h1{
		font-size: 5rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item{
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item{
		flex-direction: row;
	}
	#projects .project-item:nth-child(even){
		flex-direction: row-reverse;
	}
	#projects .project-item{
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info{
		height: 100%;
	}
	#projects .all-projects .project-img{
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about{
		flex-direction: row;
	}
	#about .col-left{
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after{
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #dc143c;
	}
	#about .col-right{
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1{
		text-align: left;
	}

    #about .about-img:hover img{
        transform: scale(1.1);
    }
    #about .col-left .about-img::after{
        transition: .7s ease transform;
    }
    #about .col-left:hover .about-img::after{
        border: 7px solid #ffffff;
        transition: border .5s ease;
    }

	/* End About */

	/* contact  */
	#contact .contact{
		flex-direction: column;
		padding: 50px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item{
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon{
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img{
		object-fit: contain;
	}
	#contact .contact-item .contact-info{
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */

    /* Contact form */
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }


    /* for vanishing scrollbar */
    ::-webkit-scrollbar{
        width: 0px;
    }
}

/* End Media Query for Tablet */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px){
	/* header */
	#header .hamburger{
		display: none;
	}
	#header .nav-list ul{
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li{
		display: inline-block;
	}
	#header .nav-list ul li a{
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after{
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item{
		flex-basis: 22%;
		margin: 1.5%;
	}

    #about .about-img:hover img{
        transform: scale(1.1);
    }
    #about .col-left .about-img::after{
        transition: .7s ease transform;
    }
    #about .col-left:hover .about-img::after{
        border: 7px solid #ffffff;
        transition: border .5s ease;
    }

    /* progressbar */
    ::-webkit-scrollbar{
        width: 10px;
        background-color: lightgray;
    }

    ::-webkit-scrollbar-thumb{
        background: #dc143c;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: rgb(228, 98, 124);
    }

    .progress-container {
        width: 100%;
        height: 8px;
        background: transparent;
    }
    
    .progress-bar {
        height: 8px;
        background: #dc143c;
        width: 0%;
        border-radius: 10px;
    }
    /* End of progressbar */

}
/* End  Media Query For Desktop */

